.pizzas--grid {
  display: grid;
  justify-content: center;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  app-pizza {
    margin: 0;
  }
}
.pizza-detail {
  img {
    width: 50%;
  }
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all ease-out 0.5s;
  transform: translateX(100%);
  &.active {
    transform: translateX(0);
  }
}

@media screen and (min-width: 500px) {
  .pizza-detail {
    position: fixed;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all ease-out 0.5s;
    transform: translateX(100%);
    &.active {
      transform: translateX(0);
    }
  }
}
