<div class="show-mobile">
  <div>
    <button type="button" (click)="toggleMenu()">
      <img src="./assets/svg/icon_menu.svg" alt="menu" />
    </button>
    <a href="">
      <img
        src="./assets/svg/pizza-svgrepo-com.svg"
        style="width: 40px"
        alt="logo"
      />
    </a>
    <a class="cart" href="">
      <p class="counter">{{ counter }}</p>
      <img src="./assets/svg/icon_shopping_cart.svg" alt="logo" />
    </a>
  </div>
  <div [class.active]="activeMenu" class="side-menu">
    <button (click)="toggleMenu()" type="button">Close</button>
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">Pizza</a></li>
    </ul>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img
          src="./assets/svg/pizza-svgrepo-com.svg"
          style="width: 40px"
          alt="logo"
        />
      </a>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Pizza</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">nicolas@nicolas.com</div>
      <div>
        <a class="cart" href="">
          <p class="counter">{{ counter }}</p>

          <img src="./assets/svg/icon_shopping_cart.svg" alt="logo" />
        </a>
      </div>
    </div>
  </div>
</div>
